.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: rgb(11, 11, 83);
  color: #ffff;
}
nav a {
  margin-top: 15px;
  margin-right: 10px;
  color: #ffff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 15px;
}
nav .active {
  background-color: rgb(47, 27, 230);
}
.nav-links {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navigate {
  margin: 50px 0;
}
.navigate a {
  margin-left: 10px;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 15px;
}
.navigate .active {
  background-color: rgb(226, 223, 255);
}
.search {
  margin-top: 40px;
}
.logout {
  float: right;
  border: none;
  background-color: rgb(11, 11, 83);
  color: #ffff;
  margin-right: 10px;
}
.logout:hover {
  transform: scale(1.02);
}
